<div class="row">
  <a href="">
    <div class="col-sm-3 col-xs-12">
      <img src="http://videotutoriales.com/maspa/maspa1.jpg" alt="" class="img-responsive center-block">
    </div>
  </a>
  <a href="">
    <div class="col-sm-3 col-xs-12">
      <img src="http://videotutoriales.com/maspa/maspa2.jpg" alt="" class="img-responsive center-block">
    </div>
  </a>
  <a href="">
    <div class="col-sm-3 col-xs-12">
      <img src="http://videotutoriales.com/maspa/maspa3.jpg" alt="" class="img-responsive center-block">
    </div>
  </a>
  <a href="">
    <div class="col-sm-3 col-xs-12">
      <img src="http://videotutoriales.com/maspa/maspa4.jpg" alt="" class="img-responsive center-block">
    </div>
  </a>
</div>
<div class="row">
  <a href="">
    <div class="col-sm-3 col-xs-12">
      <img src="http://videotutoriales.com/maspa/maspa5.jpg" alt="" class="img-responsive center-block">
    </div>
  </a>
  <a href="">
    <div class="col-sm-3 col-xs-12">
      <img src="http://videotutoriales.com/maspa/maspa6.jpg" alt="" class="img-responsive center-block">
    </div>
  </a>
  <a href="">
    <div class="col-sm-3 col-xs-12">
      <img src="http://videotutoriales.com/maspa/maspa7.jpg" alt="" class="img-responsive center-block">
    </div>
  </a>
  <a href="">
    <div class="col-sm-3 col-xs-12">
      <img src="http://videotutoriales.com/maspa/maspa8.jpg" alt="" class="img-responsive center-block">
    </div>
  </a>
</div>
